<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.onlyid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="唯ID"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".scan_login.IllegalQrCodeActivity"
            android:label="非法二维码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trusted_device.CustomNameActivity"
            android:label="自定义名称"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.AuthorizeActivity"
            android:label="登录授权"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_info.EditPasswordActivity"
            android:label="修改密码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_info.EditAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_info.EditBasicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_info.EditAvatarActivity"
            android:label="修改头像"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authorized_app.AuthorizedAppActivity"
            android:label="授权应用"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trusted_device.TrustedDeviceActivity"
            android:label="可信设备"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.ScanLoginActivity"
            android:label="扫码登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_info.UserInfoActivity"
            android:label="个人信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="登录唯ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>