<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.onlyid">

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="net.onlyid.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="net.onlyid.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="唯ID"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="02919836df23adaee129c306e78d83f5" />

        <activity
            android:name=".login.SignUpActivity"
            android:label="注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:label="登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.location.EditLocationActivity"
            android:label="选择地区"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.IllegalQrCodeActivity"
            android:label="非法二维码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.SuccessActivity"
            android:label="登录成功"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trusted_device.CustomNameActivity"
            android:label="自定义名称"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthorizeActivity"
            android:label="登录授权"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditBirthDateActivity"
            android:label="出生年代"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditGenderActivity"
            android:label="设置性别"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditNicknameActivity"
            android:label="修改昵称"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.AvatarActivity"
            android:label="头像"
            android:screenOrientation="portrait"
            android:theme="@style/AvatarActivity" />
        <activity
            android:name=".authorized_app.AuthorizedAppActivity"
            android:label="授权应用"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trusted_device.TrustedDeviceActivity"
            android:label="可信设备"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.ScanLoginActivity"
            android:label="扫码登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.UserProfileActivity"
            android:label="账号资料"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UCropActivity" />
        <activity
            android:name=".home.SupportActivity"
            android:label="获取帮助"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OAuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/OAuthActivity">
            <intent-filter>
                <action android:name="net.onlyid.OAUTH_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".PushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
