<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.onlyid">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="唯ID"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".login_history.LoginHistoryActivity"
            android:label="登录历史"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.SignUpActivity"
            android:label="注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:label="登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switch_account.DeleteAccountActivity"
            android:label="注销账号"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switch_account.WarnDeleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switch_account.SwitchAccountActivity"
            android:label="切换账号"
            android:screenOrientation="portrait" />
        <activity
            android:name=".security.ChangePasswordActivity"
            android:label="修改密码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".security.LoginDeviceActivity"
            android:label="登录设备"
            android:screenOrientation="portrait" />
        <activity
            android:name=".push_otp.OtpModalActivity"
            android:label="验证码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authorization.AuthorizeActivity"
            android:label="登录授权"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.location.EditLocationActivity"
            android:label="选择地区"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditBirthDateActivity"
            android:label="出生年代"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditGenderActivity"
            android:label="设置性别"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.EditNicknameActivity"
            android:label="修改昵称"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_profile.AvatarActivity"
            android:label="头像"
            android:screenOrientation="portrait"
            android:theme="@style/AvatarActivity" />
        <activity
            android:name=".authorization.AuthorizationActivity"
            android:label="授权应用"
            android:screenOrientation="portrait" />
        <activity
            android:name=".security.SecurityActivity"
            android:label="安全设置"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.ScanLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan_login.ScanCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ScanCodeActivity" />
        <activity
            android:name=".user_profile.UserProfileActivity"
            android:label="账号资料"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UCropActivity" />
        <activity
            android:name=".home.AboutActivity"
            android:label="关于唯ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.SupportActivity"
            android:label="获取帮助"
            android:screenOrientation="portrait" />
        <activity
            android:name="HiActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".OAuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="net.onlyid.OAUTH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 高德定位 start -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="02919836df23adaee129c306e78d83f5" />
        <service android:name="com.amap.api.location.APSService" />
        <!-- 高德定位 end -->

        <!-- xiaomi push start -->
        <receiver
            android:name=".PushReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- xiaomi push end -->
    </application>

</manifest>
